appnope==0.1.0
backcall==0.1.0
bleach==3.1.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Cython==0.29.14
decorator==4.4.1
docutils==0.15.2
idna==2.8
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.14.1
jupyter-client==5.3.4
jupyter-core==4.6.1
keyring==21.0.0
more-itertools==8.0.2
numpy==1.18.1
pandas==0.25.3
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pip-tools==4.3.0
pkginfo==1.5.0.1
pmdarima==1.5.2
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.4.2
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.12.0
statsmodels==0.10.2
-e git+git@github.com:intive-DataScience/tbats.git@75bc957e425c3b82dfe75373e2cea7aff17ecc12#egg=tbats
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
twine==3.1.1
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0
